[class*="col"] {
    /* background-color: green; */
    border: 1px dashed orange;
}
main [class*="bg"]:nth-child(odd) {
    background-color: aquamarine;
    color: white;
}
.height-50 {
    height: 50px;
}
.height-100 {
    height: 100px;
}
.height-150 {
    height: 150px;
}
.height-300 {
    height: 300px;
}