[class*="col"] {
    /* background-color: green; */
    border: 1px dashed orange;
}
header .bg, footer .bg:last-of-type {
    background-color: #2C3E50;
}
main [class*="bg"]:nth-child(odd) {
    background-color: #1ABC9C;
    color: white;
}
footer .bg:first-of-type {
    background-color: #3A546D;
}
header, footer {
    color: white;
}
.height-50 {
    height: 50px;
}
.height-100 {
    height: 100px;
}
.height-150 {
    height: 150px;
}
.height-300 {
    height: 300px;
}